.user-panel {
  padding-bottom: 0;
}

.user-panel > .info {
  position: relative;
  left: 0;
}

.sidebar-form {
  margin-top: 0px;
}

.skin-yellow .wrapper, .skin-yellow .main-sidebar, .skin-yellow .left-side {
  background-color: rgba(35,31,64,1);
}

.content-wrapper, .right-side {
  background-color: #ededed;
}

.box{
  height: 100%;
}

.box .box-header{
  border-top : 2px solid;
  border-right : 1px solid;
  border-left : 1px solid;
  border-bottom: 1px solid;
}

.box .box-body{
  border-right : 1px solid;
  border-left : 1px solid;
  border-bottom: 1px solid;
}

.box .box-footer {
  border-right : 1px solid;
  border-left : 1px solid;
  border-bottom: 1px solid;
}

.box.box-primary {
  border-top-color: #231F40;
}
.box.box-success {
  border-top-color: #89A00D;
}
.box.box-danger {
  border-top-color: #89A00D;
}

.box-info .box-footer, .box-info .box-header, .box-info .box-body{
  border-color: #231F40 ;
}

.box-primary .box-footer, .box-primary .box-header, .box-primary .box-body{
  border-color: #231F40 ;
}

.box-success .box-footer, .box-success .box-header, .box-success .box-body{
  border-color: #89A00D ;
}

.box-warning .box-footer, .box-warning .box-header, .box-warning .box-body{
  border-color: #f39c12 ;
}

.box-danger .box-footer, .box-danger .box-header, .box-danger .box-body{
  border-color: #89A00D ;
}

.connecte {
  color : #89A00D;
}
/************************************* fonts***************************************************/

@font-face {
  font-family: 'jungle_roarbold';
  src: url('../fonts/jungle_roar_bold-webfont.woff2') format('woff2'),
  url('../fonts/jungle_roar_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'comfortaabold';
  src: url('../fonts/comfortaa-bold-webfont.woff2') format('woff2'),
  url('../fonts/comfortaa-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/**********************************************titre et logo************************************/

.content-no-padding-top{
  padding-top: 0px;
}

.col-no-padding {
  padding : 0px;
}

.skin {
  background-image : url("../img/skin.jpg") ;
  margin-bottom: 15px;
}


.cover {
  width: 100%;
  background-color: #89A00D;  /*vert clair*/
}

.cover.titre {
  margin-top : 15px;
  margin-bottom : 15px;
}

.titre {
  font-family: 'comfortaabold';
  font-size: 6em;
  line-height: 2em;
  color : #100912;         /*violet foncé*/
}

.lettre {
  font-family: 'jungle_roarbold';
  font-size: 120px;
  color :#231F40;       /*violet */
}
.skin-yellow .main-header .logo {
  background-color: #89A00D;
  height : auto;
}

.skin-yellow .main-header .logo:hover{
  background-color: #89A00D;
}

p {
  margin: 0 0 2px;
}

.titre_logo {
  font-family: 'comfortaabold';
  color : #100912;         /*violet foncé*/
}

.lettre_logo {
  font-family: 'jungle_roarbold';
  font-size: 30px;
  color :#231F40;       /*violet */
}

/****************************************************************************************/

.btn_retour {
  margin: auto;
  display: block;
  color : white;
}

.btn_retour:hover{
  color : white;
}

